HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.log
*.log.gz
logs/

target/
/generator/
*backup*.chnr.json
sql

!.gitkeep

database/**/.back_*

.flattened-pom.xml
application-datasource-dev.yml
application-datasource-uat.yml
application-datasource-prod.yml
application-image-dev.yml
application-image-uat.yml
application-image-prod.yml
application-websocket-dev.yml
application-websocket-uat.yml
application-websocket-prod.yml
application-oauth-dev.yml
application-oauth-uat.yml
application-oauth-prod.yml

### Docker ###
docker/.env
docker/.env.*
!docker/.env.example
docker/**/.data

### Env files ###
.env
.env.*
!.env.example
