HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.log
*.log.gz
logs/

target/
/generator/
*backup*.chnr.json
sql

database/**/.back_*

.flattened-pom.xml
application-datasource-dev.yml
application-datasource-prod.yml
application-datasource-uat.yml


