<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerExtraPunctuateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.MarkerExtraPunctuate">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="creator_id" property="creatorId"/>
        <result column="updater_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="punctuate_id" property="punctuateId"/>
        <result column="marker_extra_content" property="markerExtraContent"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_related" property="isRelated"/>
        <result column="author" property="author"/>
        <result column="status" property="status"/>
        <result column="audit_remark" property="auditRemark"/>
        <result column="method_type" property="methodType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        version,
        creator_id,
        updater_id,
        create_time,
        update_time,
        del_flag,
     id, punctuate_id, marker_extra_content, parent_id, is_related, author, status, audit_remark, method_type
    </sql>

</mapper>
