<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerExtraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.MarkerExtra">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="creator_id" property="creatorId"/>
        <result column="updater_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="marker_id" property="markerId"/>
        <result column="marker_extra_content" property="markerExtraContent"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_related" property="isRelated"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        version,
        creator_id,
        updater_id,
        create_time,
        update_time,
        del_flag,
     id, marker_id, marker_extra_content, parent_id, is_related
    </sql>
    <select id="selectListWithLargeIn" resultType="site.yuanshen.data.entity.MarkerExtra">
        with id_list as ( select unnest(${unnest}::bigint[]) "id")
        select
        <if test="ew.SqlSelect ==null or ew.SqlSelect == ''">
            <include refid="Base_Column_List"/>
        </if>
        ${ew.SqlSelect}
        from
        marker_extra, id_list
        <if test="ew.customSqlSegment ==null or ew.customSqlSegment == ''">
            where del_flag = 0
        </if>
        ${ew.customSqlSegment} and del_flag = 0 and marker_extra.id=id_list.id

    </select>
    <select id="selectWithLargeCustomIn" resultType="site.yuanshen.data.entity.MarkerExtra">
        with id_list as ( select unnest(${unnest}::bigint[]) "${column}2")
        select
        <if test="ew.SqlSelect ==null or ew.SqlSelect == ''">
            <include refid="Base_Column_List"/>
        </if>
        ${ew.SqlSelect}
        from
        marker_extra, id_list
        <if test="ew.customSqlSegment ==null or ew.customSqlSegment == ''">
            where del_flag = 0
        </if>
        ${ew.customSqlSegment}  and del_flag = 0 and marker_extra.${column} = id_list."${column}2"
    </select>

</mapper>
