<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.Marker">
        <id column="id"  property="id"/>
        <result column="version" property="version"/>
        <result column="creator_id" property="creatorId"/>
        <result column="updater_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="marker_title" property="markerTitle"/>
        <result column="position" property="position"/>
        <result column="content" property="content"/>
        <result column="picture" property="picture"/>
        <result column="marker_creator_id" property="markerCreatorId"/>
        <result column="picture_creator_id" property="pictureCreatorId"/>
        <result column="video_path" property="videoPath"/>
        <result column="refresh_time" property="refreshTime"/>
        <result column="hidden_flag" property="hiddenFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        version,
        creator_id,
        updater_id,
        create_time,
        update_time,
        del_flag,
     id, marker_id, marker_title, position, content, picture, marker_creator_id, picture_creator_id, video_path,refresh_time,hidden_flag
    </sql>
    <select id="selectListWithLargeIn" resultType="site.yuanshen.data.entity.Marker">
        with id_list as (
            select unnest(${unnest}::bigint[]) "id2")
        select *
        from
            marker, id_list
            <if test="ew.customSqlSegment ==null or ew.customSqlSegment == ''">
                where  del_flag = 0
            </if>
             ${ew.customSqlSegment} and del_flag = 0 and marker.id=id_list.id2

    </select>
    <select id="selectWithLargeCustomIn" resultType="site.yuanshen.data.entity.Marker">
        with id_list as (
        select unnest(${unnest}::bigint[]) "${column}2")
        select *
        from
        marker, id_list
        <if test="ew.customSqlSegment ==null or ew.customSqlSegment == ''">
            where  del_flag = 0
        </if>
        ${ew.customSqlSegment} and del_flag = 0 and marker.${column}=id_list."${column}2"
    </select>
    <select id="selectListByMarkerItemLink" resultType="site.yuanshen.data.entity.Marker">
        with
        id_list as (select unnest(${unnest}::bigint[]) "${column}2")
        select
        <include refid="Base_Column_List"/>
        from
        marker inner join ( select distinct marker_id from marker_item_link, id_list
        <if test="ew.customSqlSegment ==null or ew.customSqlSegment == ''">
            where del_flag = 0
        </if>
        ${ew.customSqlSegment} and marker_item_link.${column}=id_list."${column}2" ) marker_id_list
        on marker.id=marker_id_list.marker_id
    </select>

</mapper>
