<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerLinkageMapper">

    <select id="selectWithLargeCustomIn" resultType="site.yuanshen.data.entity.MarkerLinkage">
        with id_list as ( select unnest(${unnest}::${type}[]) "${column}2")
        select
        <if test="ew.SqlSelect == null or ew.SqlSelect == ''">
            <include refid="Base_Column_List"/>
        </if>
        ${ew.SqlSelect}
        from
        marker_linkage, id_list
        <if test="ew.customSqlSegment ==null or ew.customSqlSegment == ''">
            where true
        </if>
        ${ew.customSqlSegment} and marker_linkage.${column} = id_list."${column}2"
    </select>

    <select id="selectWithLargeMarkerIdIn" resultType="site.yuanshen.data.entity.MarkerLinkage">
        WITH id_list AS (
            SELECT UNNEST(${unnest}::bigint[]) "marker_id2"
        )
        SELECT ml.* FROM marker_linkage AS ml
        JOIN id_list ON
            ml.from_id = id_list.marker_id2 OR
            ml.to_id = id_list.marker_id2
        <if test="ew.customSqlSegment == null or ew.customSqlSegment == ''">
            WHERE true
        </if>
        ${ew.customSqlSegment}
        GROUP BY ml.id
    </select>

    <update id="deleteByIds">
        WITH id_list AS (
            SELECT UNNEST(${unnest}::bigint[]) "id2"
        )
        UPDATE marker_linkage
        SET del_flag = true
        FROM id_list
        WHERE marker_linkage.id = id_list.id2
    </update>

    <update id="undeleteByIds">
        WITH id_list AS (
            SELECT UNNEST(${unnest}::bigint[]) "id2"
        )
        UPDATE marker_linkage
        SET del_flag = false
        FROM id_list
        WHERE marker_linkage.id = id_list.id2
    </update>

</mapper>
