<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.Area">
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="id" property="id"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="content" property="content"/>
        <result column="icon_tag" property="iconTag"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_final" property="isFinal"/>
        <result column="hidden_flag" property="hiddenFlag"/>
        <result column="sort_index" property="sortIndex"/>
        <result column="special_flag" property="specialFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        area.creator_id,
        area.create_time,
        area.del_flag,
        area.version,
        area.id,
        area.updater_id,
        area.update_time,
        area.name,
        area.code,
        area.content,
        area.icon_tag,
        area.parent_id,
        area.is_final,
        area.hidden_flag,
        area.sort_index,
        area.special_flag
    </sql>

</mapper>
