<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.Item">
        <id column="area_id" property="areaId"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="id" property="id"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="default_refresh_time" property="defaultRefreshTime"/>
        <result column="default_content" property="defaultContent"/>
        <result column="default_count" property="defaultCount"/>
        <result column="icon_tag" property="iconTag"/>
        <result column="icon_style_type" property="iconStyleType"/>
        <result column="hidden_flag" property="hiddenFlag"/>
        <result column="sort_index" property="sortIndex"/>
        <result column="special_flag" property="specialFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        item.creator_id,
        item.create_time,
        item.del_flag,
        item.version,
        item.id,
        item.updater_id,
        item.update_time,
        item.name,
        item.area_id,
        item.default_refresh_time,
        item.default_content,
        item.default_count,
        item.icon_tag,
        item.icon_style_type,
        item.hidden_flag,
        item.sort_index,
        item.special_flag
    </sql>

</mapper>
