<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.ItemTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.ItemType">
        <id column="parent_id" property="parentId"/>
        <id column="sort_index" property="sortIndex"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="id" property="id"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="icon_tag" property="iconTag"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="is_final" property="isFinal"/>
        <result column="hidden_flag" property="hiddenFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        item_type.creator_id,
        item_type.create_time,
        item_type.del_flag,
        item_type.version,
        item_type.id,
        item_type.updater_id,
        item_type.update_time,
        item_type.icon_tag,
        item_type.name,
        item_type.content,
        item_type.parent_id,
        item_type.is_final,
        item_type.hidden_flag,
        item_type.sort_index
    </sql>

</mapper>
