<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerItemLinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.MarkerItemLink">
        <id column="item_id" property="itemId"/>
        <id column="marker_id" property="markerId"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="id" property="id"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="count" property="count"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        marker_item_link.creator_id,
        marker_item_link.create_time,
        marker_item_link.del_flag,
        marker_item_link.version,
        marker_item_link.id,
        marker_item_link.updater_id,
        marker_item_link.update_time,
        marker_item_link.item_id,
        marker_item_link.marker_id,
        marker_item_link.count
    </sql>

</mapper>
