<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.Marker">
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="id" property="id"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="marker_stamp" property="markerStamp"/>
        <result column="marker_title" property="markerTitle"/>
        <result column="position" property="position"/>
        <result column="content" property="content"/>
        <result column="picture" property="picture"/>
        <result column="marker_creator_id" property="markerCreatorId"/>
        <result column="picture_creator_id" property="pictureCreatorId"/>
        <result column="video_path" property="videoPath"/>
        <result column="refresh_time" property="refreshTime"/>
        <result column="hidden_flag" property="hiddenFlag"/>
        <result column="extra" property="extra" typeHandler="site.yuanshen.handler.MybatisPlusJsonObjectTypeHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        marker.creator_id,
        marker.create_time,
        marker.del_flag,
        marker.version,
        marker.id,
        marker.updater_id,
        marker.update_time,
        marker.marker_stamp,
        marker.marker_title,
        marker.position,
        marker.content,
        marker.picture,
        marker.marker_creator_id,
        marker.picture_creator_id,
        marker.video_path,
        marker.refresh_time,
        marker.hidden_flag,
        marker.extra
    </sql>

</mapper>
