<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.MarkerPunctuateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.MarkerPunctuate">
        <id column="id" property="id"/>
        <id column="original_marker_id" property="originalMarkerId"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="punctuate_id" property="punctuateId"/>
        <result column="marker_title" property="markerTitle"/>
        <result column="item_list" property="itemList"/>
        <result column="position" property="position"/>
        <result column="content" property="content"/>
        <result column="extra" property="extra"/>
        <result column="picture" property="picture"/>
        <result column="marker_creator_id" property="markerCreatorId"/>
        <result column="picture_creator_id" property="pictureCreatorId"/>
        <result column="video_path" property="videoPath"/>
        <result column="hidden_flag" property="hiddenFlag"/>
        <result column="author" property="author"/>
        <result column="status" property="status"/>
        <result column="audit_remark" property="auditRemark"/>
        <result column="method_type" property="methodType"/>
        <result column="refresh_time" property="refreshTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mp.creator_id,
        mp.create_time,
        mp.del_flag,
        mp.version,
        mp.id,
        mp.updater_id,
        mp.update_time,
        mp.punctuate_id,
        mp.original_marker_id,
        mp.marker_title,
        mp.item_list,
        mp.position,
        mp.content,
        mp.extra,
        mp.picture,
        mp.marker_creator_id,
        mp.picture_creator_id,
        mp.video_path,
        mp.hidden_flag,
        mp.author,
        mp.status,
        mp.audit_remark,
        mp.method_type,
        mp.refresh_time
    </sql>

</mapper>
