<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.TagTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.TagType">
        <id column="id" property="id"/>
        <id column="parent" property="parent"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="is_final" property="isFinal"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tt.creator_id,
        tt.create_time,
        tt.del_flag,
        tt.version,
        tt.id,
        tt.updater_id,
        tt.update_time,
        tt.name,
        tt.parent,
        tt.is_final
    </sql>

</mapper>
