<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.Tag">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="creator_id" property="creatorId"/>
        <result column="updater_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="tag" property="tag"/>
        <result column="icon_id" property="iconId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        version,
        creator_id,
        updater_id,
        create_time,
        update_time,
        del_flag,
     id, tag, icon_id
    </sql>

    <select id="selectPageIconTag"
            resultType="site.yuanshen.data.entity.Tag"
            parameterType="site.yuanshen.data.dto.TagSearchDto">
        select t.*
        from tag t
        <if test="tagSearchDto.typeIdList != null and tagSearchDto.typeIdList.size > 0">
            left join tag_type_link ttl on t.tag = ttl.tag_name
        </if>
        <where>
            <if test="tagSearchDto.typeIdList != null and tagSearchDto.typeIdList.size > 0">
                ttl.type_id in
                <foreach collection="tagSearchDto.typeIdList" open="(" separator="," close=")" item="typeId">
                    #{typeId}
                </foreach>
            </if>
            <if test="tagSearchDto.tagList != null and tagSearchDto.tagList.size > 0">
                and t.tag in
                <foreach collection="tagSearchDto.tagList" open="(" separator="," close=")" item="tag">
                    #{tag}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
