[Unit]
Description=Genshin-Map ability-gateway Service
Documentation=https://yuanshen.site
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/
ExecStart=/bin/java -server -Dfile.encoding=UTF-8 -jar /data/genshin-map-ability-gateway-1.0.jar
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
StandOutput=syslog

StandError=inherit

[Install]
WantedBy=multi-user.target
