<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.SysUserArchiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.SysUserArchive">
        <id column="id" property="id"/>
        <id column="user_id" property="userId"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="slot_index" property="slotIndex"/>
        <result column="data" property="data"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sua.creator_id,
        sua.create_time,
        sua.del_flag,
        sua.version,
        sua.id,
        sua.updater_id,
        sua.update_time,
        sua.name,
        sua.slot_index,
        sua.user_id,
        sua.data
    </sql>

</mapper>
