<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yuanshen.data.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.yuanshen.data.entity.SysUser">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <id column="qq" property="qq"/>
        <id column="phone" property="phone"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_time" property="updateTime"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="logo" property="logo"/>
        <result column="role_id" property="roleId"/>
        <result column="access_policy" property="accessPolicy" typeHandler="site.yuanshen.handler.MBPJsonArrayTypeHandler"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_user.creator_id,
        sys_user.create_time,
        sys_user.del_flag,
        sys_user.version,
        sys_user.id,
        sys_user.updater_id,
        sys_user.update_time,
        sys_user.username,
        sys_user.password,
        sys_user.nickname,
        sys_user.qq,
        sys_user.phone,
        sys_user.logo,
        sys_user.role_id,
        sys_user.access_policy,
        sys_user.remark
    </sql>

</mapper>
